@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	margin: 20px;
	font: 1.2em/1.5 'Open Sans', sans-serif;
}

h1 {
	margin: 0 0 20px;
}

.demos {
	margin: 0;
	padding: 0;
	list-style: none;
}

.demos li {
	float: left;
	width: 200px;
	height: 100px;
	margin: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #eee;
}

a {
	text-decoration: none;
}
