@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	margin:  40px 80px;
	color: #fff;
	background-color: #1d3f59;
	font: 1.2rem/1.5 'Open Sans', sans-serif;
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
	margin: 0 0 20px;
	font-size: 3rem;
}

a {
	color: #d49919;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
