.bad-approach .fish {
	transition: top 6s, left 6s;
}

.good-approach .fish {
	transition: transform 6s;
}

.best-approach .fish {
	will-change: transform;
	transition: transform 6s;
}

.fish-1 { color: #d49919; }
.fish-2 { color: #74a135; }
.fish-3 { color: #806fad; }
.fish-4 { color: #d97eb6; }
