body {
	overflow: hidden;
}

h1 {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	opacity: .2;
	margin: 0;
	font-size: 16rem;
}

.bad-approach .fish {
	transition: top 6s, left 6s;
}

.bad-approach.will-change .fish {
	will-change: top, left;
}

.good-approach .fish {
	transition: transform 6s;
}

.good-approach.will-change .fish {
	will-change: transform;
}

.fish-1 { color: #d49919; }
.fish-2 { color: #74a135; }
.fish-3 { color: #806fad; }
.fish-4 { color: #d97eb6; }
